/* reset lai trang thai */
body{
    margin: 0;
    padding: 0px;
    font-size: 12px;
    font-family: Tahoma, Arial;
    /* background-color: pink; */
}

/* container chua cac phan tu */
.container{
    margin-left: 360px;
    margin-right: 360px;
}

/* section 1 */
#section_text_2{
    height: 120px;
    background-color: #f3f3f3;
}
/* phan tu ben trai */
.columns.alpha{
    float: left;
    width: 170px;
    height: 40px;
    padding: 35px;
    padding: 50px;
}
/* phan tu ben phai */
.small_bold.orange_bg{
    font-size: 13px;
    color: white;
    background-color: #f77825;
    border-radius: 8px;
    text-decoration: none;
    float: right;
    padding: 18px 32px;
    margin-bottom: 45px;
    margin-top: 27px;
}

/* section 2 */
#section_header_1{
    height: 100px;
    background-color: white;
}

#navbar-collapse-02 li{
    list-style-position: outside;
    padding-top: 40px;
    padding-bottom: 45px;
    font-size: 20px;
    color: #f1f1f1;
    width: 100px;
}

#navbar-collapse-02 a{
    text-align: left;
    text-decoration: none;
    color: #7f7f7f;
}

.padding_25.right_socials li{
    /* 123 */
    float: right;
    width: 100;
    font-size: 20;
}
.bottom-icons a{
    color: black;
}
.instagram,.facebook2,.twitter2{
    /* 123 */
    float: right;
    color: black;
}

/* section 3 */
#section_slider{
    background-color: #eeeeee;
}
/* giong nhu slider */
#section_slider img{
    width: 1170px;
    height: 460px;
    margin: auto;
    position: relative;
}
/* giong nhu iteam */
.iteam{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
}
/* section 4 */
#section_gym_4{
    height: 585px;
}

#section_gym_4 .one-third.column{
    float: left;
    text-align: center;
    width: 33%;
}

/* thay doi hinh anh */
#section_gym_4 .top_padding img{
    margin-top: 100px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
#section_gym_4 .gym_st{
    margin-bottom: 45px;
    font-weight: bolder;
    font-size: 20px;
}
#section_gym_4 .gym_text{
    color: #a9a9a9;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 35px;
}
#section_gym_4 .slow_fade.pix_text {
    background-color: #ff8833;
    color: #fff8ca;
    text-decoration: none;
    margin-bottom: 25px;
    padding: 17px 30px 12px;
}

/* section 5 */
#section_intro_title {
    background-color: #f3f3f3;
    height: 600px;
   
}
#section_intro_title .flat_pricing.pix_builder_bg {
    margin-top: 14px;
    float: left;
    height: 500px;
    width: 366px;
    text-align: center;
    border: #dddddd;
    border-style: solid;
    margin-left: 22px;
    background-color: #ffffff;
}
#section_intro_title .big_title{
    margin: auto;
    padding-top: 54px;
    padding-bottom: 30px;
    font-size: 55px;
    color: #2dc0e8;
}
#section_intro_title .big_title.orange{
    color: #f77825;
}
#section_intro_title .light_gray.editContent{
    margin: auto;
    font-size: 17px;
    color: #999999;
    padding-bottom: 70px;
}
#section_intro_title .bold_text {
    margin: auto;
    color: white;
    background-color: #2dc0e8;
    text-decoration: none;
    padding: 25px;
    border-radius: 3px;
}
#section_intro_title .flat_pricing_list.light_gray{
    margin: auto;
    padding-bottom: 38px;
    list-style-type: none;
    color: #a69999;
}
#section_intro_title .flat_pricing_list.light_gray li{
    height: 50px;
    font-size: 20px;
    width: 90%;
}
#section_intro_title .orange_bg{
    background-color: #f77825;
    text-align: center;
}
/* section 6 */
#section_party_3{
    padding: 0;
    margin: 0;
    height: 730px;
    background-color: #191919;
}
#section_party_3 .sixteen.columns{
    padding-top: 88px;
    padding-bottom: 88px;
}
#section_party_3 .text_input.pix_builder_bg{
    padding-top: 65px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #292929;
    width: 560px;
    height: 560px;
    background-color: #151515;
}
#section_party_3 .headtext_style{
    font-size: 30px;
    text-align: center;
    color: white;
    padding-bottom: 35px;
}
#section_party_3 .segment.pix_builder_bg{
    border-top: #1c8ff5 10px solid;
    margin: 0 230px 0;
    padding-bottom: 40px;
}
#section_party_3 .subtext_style{
    margin: 0;
    font-size: 22px;
    text-align: center;
    padding-left: 85px;
    padding-right: 85px;
    color: #808080;
    padding-bottom: 62px;
}
#section_party_3 #contact_form input{
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
    height: 60px;
    border-radius: 8px;
}
#section_party_3 #name{
    /* width: 90%;
    height: 60px;
    border-radius: 8px; */
}
